<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="images/angelVR_brand.png" class="img-responsive" width="50px">
      </a>
      <h4 class="navbar-text">AngelVR</h4>
    </div>
  </div>
</nav>