<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="margin-left: 0px;">
        <img alt="Brand" src="images/angelVR_brand.png" style="padding-top: 10px;" width="40px">
      </a>
      <h4 class="navbar-text">AngelVR</h4>
    </div>
  </div>
</nav>