/* main.css */

/* 
	green: #11750C;
	blue: #44C8DE;
	orange: #FF4D22;
	white: #F2E9E3;
	grey: #FF4D22;
*/

html, body, .content-container {
	height: 100%;
}

body {
	background-image: url('/public/images/lowPolyBackground.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 70px;
}

article {
	padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #888888;
  box-shadow: 5px 5px 5px #888888;
}

.navbar-brand {
	padding: 5px 5px;
}

.only-resume {
	display: none;
}

p.header {
	margin-bottom: 0;
}

p.content {
	margin-top: 1em;
	margin-bottom: 1em;
}

.youtube-container {
	position: relative;
	width: 100%;
	height: 0;
    padding-bottom: 56.25%;
}

.youtube-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.highlight-container {
	display: flex;
}

div.highlight-container img.highlight-image {
	width: 250px;
	float: left;
	margin-right: 25px;
	align-self: center;
}

div.highlight-content {
	display: flow-root;
}

/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  align-items: center;
}

h1, h2 {
	color: #E5DBCE;
}

i {
	vertical-align: middle;
}

.feed {
	background-color: rgba(44, 44, 47, 1.0);
	height: 100%;
	overflow-y: scroll;
	-webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}

.feed_header > h1 {
	color: #FF4D22;
}*/

/*.feed_item {
	margin-top: 5px;
	margin-bottom: 5px;
	margin: 5px;
}*/

/*.feed_item a {
	color: #F2E9E3;
}*/

/*i.fa-eye-slash {
	vertical-align: middle;
}*/