<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<% include ../partials/navbar.ejs %>
	<body>
		<div class="container">
			
			<h1>AngelVR</h1>
			<h2>Building, Experimenting, and Exploring Virtual Reality</h2>

			<%- include(partialContent) %>
			
		</div>
	</body>
</html>
