<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/print.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/print-preview.css">
		
		<!-- <link href='https://fonts.googleapis.com/css?family=Coda:800' rel='stylesheet' type='text/css'> -->
		<link href='https://fonts.googleapis.com/css?family=Rubik+One' rel='stylesheet' type='text/css'>

		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<script src="/js/skillChart.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="panel panel-default" style="margin-top: 10px;">
				<div class="panel-body">

					<!-- Resume Header and Contact-->
					<div class="row">
						
						<!-- Header -->
						<div class="col-xs-12 col-sm-8">
							<h1>Joshua Angeley</h1>
							<p class="lead">Software engineer experienced in object-oriented programming. I develop, test, and debug code. I work on VR games for fun!</p>
							<!-- <p class="lead">A Trail-Blazer in VR development</span></p> -->
							<!-- <p class="lead">Software engineer experienced in object-oriented programming; developing, testing, and debugging code. <span class="no-resume">Successful working in both team and self-directed settings.</span></p> -->
						</div>

						<!-- Contact Info -->
						<div class="col-xs-12 col-sm-4">
							<ul class="fa-ul">
								<li><i class="fa fa-home fa-fw"></i> 425 Williams Drive<br><span style="padding-left: 20px;"></span> Marietta GA, 30066</li>
								<li><i class="fa fa-phone fa-fw"></i> 434-227-7513</li>
								<li><i class="fa fa-envelope fa-fw"></i> willfire19@gmail.com</li>
								<li><i class="fa fa-github-alt fa-fw"></i> github.com/Willfire19</li>
							</ul>
						</div>

					</div>

					<!-- Work Experience, Projects, Education, Skils, and Awards -->
					<div class="row">

						<div class="col-xs-12 col-sm-8">
							<!--Work Experience -->
							<p class="category-header"> Work Experience </p>

							<p><b>DMAnalytics <span class="work-date"><span class="work-city">Atlanta, GA</span>December 2015 - Present</span></b></p>
							<p><i>Software Engineer</i></p>
							<p>
								In charge of improving the toolkit the company sells to various grocery stores around the US. This involves making changes to the core codebase written in .Net and C#, to adapting our client controls written in Javascript, to creating and editting our custom templating library.
							</p>

							<p><b>Circuit Therapeutics <span class="work-date"><span class="work-city">Menlo Park, CA</span>June 2015 - Present</span></b></p>
							<p><i>Consultant/Software Engineer</i></p>
							<p>
								Software development of a calculator for light transmission in brain tissue to be used for optogenetics. Translating engineering simulation results to web ready code to develop a web based application. Code work in Python and Javascript, version control in Git, operating in Linux and Windows environments.
							</p>

							<p><b>CoshXLabs <span class="work-date"><span class="work-city">Charlottesville, VA</span>Summer 2013</span></b></p>
							<p><i>Software Engineering Intern</i> <b><span class="work-date">Summer 2014</span></b></p>
							<p>
								Worked with small teams to build websites for clients using Ruby on Rails, JQuery, HTML, and CSS.<br>
								Assisted in maintaining and updating existing applications.<br>
								Contributed to development of client side and server side code.<br>
							</p>

							<!-- Projects -->
							<p class="category-header"> Selected Projects </p>

							<!-- <p><b>LaserGameVR</b></p>
							<p>
								Director of a distributed team building one the first multiplayer first-person shooters for the Oculus Rift. Players can run, shoot, and destroy each other using artificial locomotion (xbox analog sticks) for movemet and head position and direction for aiming. We use Unity as our game engine, Photon for the multiplayer networking, and Blender for our asset modeling. <span class="no-resume">We are experimenting and reinventing how people will interact and play videogames for the future.</span>
							</p> -->
							<p><b>TimeVR</b></p>
							<p>
								Self-directed VR game for the HTC Vive, and eventually, for the Oculus Rift. Players can pick up items, move bigger objects, interact with objects such as shooting a gun, and lastly, slow down time. This game uses Unity as the game engine, and Blender for asset modeling. <span class="no-resume">An early look at the game can be viewed <a href="https://youtu.be/e5-PaVZBKwM" target="_blank">here</a></span>
							</p>

							<p><b>360.MEDIA</b></p>
							<p>
								Self-directed project to design a site to share 360° photos with remote family members. I am developing a site that allows users to upload 360° photos taken on cell phones (google camera) that can be shared via a link using Google cardboard for a VR experience.
							</p>
							
							<p><b>University of Virginia capstone project for the Haven, a non-profit organization that helps the homeless.</b> Working as a team, we developed a portal designed to streamline the volunteer sign in and scheduling process. I developed a generic form, for administration use only, to organize volunteer efforts. This application was written in Python on the Django web framework. This application was documented, presented and accepted by the customer. It is currently in use.
							</p>
							
							<span class="no-resume">
							<p><b>TodoRaider - Software Developer</b></p>
							<p>
								Self-directed project at CoshX Labs to develop a time and task management application. This website, written in Ruby on Rails, used Test Driven Development (TDD) and Agile software development techniques. The site is built on Bootstrap for responsiveness and uses javascript to create and filter items.
							</p>

							<p><b>TechShare - Software Developer</b></p>
							<p>
								Self-directed project developing a marketplace for people to lend and borrow technical devices. Starting with the initial concept, I built a prototype using Google Spreadsheet, and then a complete web application, written in Ruby on Rails, and deployed on Heroku, a cloud application platform.
							</p>
							</span>

						</div>

						<!-- Education and Skills -->
						<div class="col-xs-12 col-sm-4">

							<!-- Education -->
							<div>
								<p class="category-header"> Education </p>
								<p>
									B.S. Computer Science, May 2015<br>
									University of Virginia<br>
									Charlottesville, VA
								</p>
							</div>

							<!-- Skills -->
							<div>
								<p class="category-header"> Skills </p>
								<canvas id="skillChart" width="200px;"></canvas>
							</div>

							<!-- Awards -->
							<div>
								<p class="category-header"> Awards </p>
								
								<p style="margin-top: 5px;"><b>PCArts <br>(Piedmont Council of the Arts)</b></p>
								<p><i>2nd Place winner May 2014</i></p>
								<p style="margin-top: 5px;">
									Part of a team of UVA students that built an Android application for a local music non-profit organization. I was responsible for parsing json data into the android application.
								</p>

								<p style="margin-top: 15px;"><b>Richmond StartUp Weekend</b></p>
								<p><i>2nd Place winner July 2013</i></p>
								<p style="margin-top: 5px;">
									Competed against 15 other teams to come up with the best startup idea in 48 hours. We built a fully functional prototype website that allows companies to a/b test their own websites easily and at a low cost. My contribution included coding the server-side in Ruby on Rails.
								</p>
							</div>

						</div>

					</div>

				</div>
			</div>


		</div>
	</body>
</html>