<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<div class="container">

			<article>

				<!-- Resume Header and Contact-->
				<div class="row">
					
					<!-- Header -->
					<div class="col-xs-12 col-sm-8">
						<h1>Joshua Angeley</h1>
						<h2>Software engineer experienced in object-oriented programming; developing, testing, and debugging code. Successful working in both team and self-directed settings.</h2>
					</div>

					<!-- Contact Info -->
					<div class="col-xs-12 col-sm-4">
						<p>Address: 2330 Walnut Ridge Lane Charlottesville, VA 22911<br>
							Cell Number: 434-227-7513<br>
							Email: jda5dp@virginia.edu<br>
							willfire19@gmail.com<br>
							Github: https://github.com/Willfire19<br>
						</p>
					</div>

				</div>

				<!-- Work Experience, Education, and Skils -->
				<div class="row">

					<!--Work Experience -->
					<div class="col-xs-12 col-sm-8">
						<h2>Work Experience</h2>
						<h3>Circuit Therapeutics, Menlo Park, CA June 2015 - Present</h3>
						<h4>Consultant/Software Engineer</h4>
						<p>
							Software development of a calculator for light transmission in brain tissue to be used for optogenetics. Translating engineering simulation results to web ready code to develop a web based application. Code work in Python and Javascript, version control in Git, operating in Linux and Windows environments.
						</p>

						<h3>CoshXLabs, Charlottesville, VA Summer 2013</h3>
						<h4>Software Engineering Intern Summer 2014</h4>
						<p>
							Worked with small teams to build websites for clients using Ruby on Rails, JQuery, HTML, and CSS.<br>
							Assisted in maintaining and updating existing applications.<br>
							Contributed to development of client side and server side code.<br>
						</p>
					</div>

					<!-- Education and Skills -->
					<div class="col-xs-12 col-sm-4">

						<!-- Education -->
						<div>
							<h2>Education</h2>
							<p>
								B.S. Computer Science, May 2015<br>
								University of Virginia, Charlottesville, VA
							</p>
						</div>

						<!-- Skills -->
						<div>
							<h2>Skills</h2>
							<ul>
								<li>RUBY ON RAILS</li>
								<li>PYTHON</li>
								<li>JAVA</li>
								<li>JAVASCRIPT</li>
								<li>C++</li>
								<li>HTML</li>
								<li>CSS</li>
								<li>PHP</li>			
							</ul>
						</div>

					</div>

				</div>

				<!-- Selected Projects and Awards -->
				<div class="row">

					<!-- Selected Projects -->
					<div class="col-xs-12 col-sm-6">
						<h2>Selected Projects</h2>
						<h3>University of Virginia capstone project for the Haven, a non-profit or-
							ganization that helps the homeless.</h3>
						<p>
							Working as a team, we developed a portal designed to streamline the volunteer sign in and scheduling process. I developed a generic form, for administration use only, to or-
							ganize volunteer efforts. This application was written in Python on the Django web framework. This application was documented, presented and accepted by the customer. It is currently in use.
						</p>
						
						<h3>TodoRaider - Software Developer</h3>
						<p>
							Self-directed project at CoshX Labs to develop a time and task management application. This website, written in Ruby on Rails, used Test Driven Development (TDD) and Agile software development techniques. The site is built on Bootstrap for responsiveness and uses ja-
							vascript to create and filter items.
						</p>

						<h3>TechShare - Software Developer</h3>
						<p>
							Self-directed project developing a marketplace for people to lend and borrow technical devices. Starting with the initial concept, I built a prototype using Google Spreadsheet, and then a complete web application, written in Ruby on Rails, and deployed on Heroku, a cloud application platform.
						</p>

						<h3>360.MEDIA</h3>
						<p>
							Self-directed project to design a site to share 360° photos with remote family members. I am developing a site that allows users to upload 360° photos taken on cell phones (google camera) that can be shared via a link using Google cardboard for a VR experience.
						</p>

					</div>

					<!-- Awards -->
					<div class="col-xs-12 col-sm-6">
						<h2>Awards</h2>
						
						<h3>PCArts (Piedmont Council of the Arts)</h3>
						<h4>2nd Place winner May 2014</h4>
						<p>
							Part of a team of UVA students that built an Android application for a local music non-profit organization. I was responsible for parsing json data into the android application.
						</p>

						<h3>Richmond StartUp Weekend</h3>
						<h4>2nd Place winner July 2013</h4>
						<p>
							Competed against 15 other teams to come up with the best startup idea in 48 hours. We built a fully functional prototype website that allows companies to a/b test their own websites easily and at a low cost. My contribution included coding the server-side in Ruby on Rails.
						</p>
					</div>

				</div>

			</article>				

		</div>
	</body>
</html>