<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/print.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/print-preview.css">
		
		<!-- <link href='https://fonts.googleapis.com/css?family=Coda:800' rel='stylesheet' type='text/css'> -->
		<link href='https://fonts.googleapis.com/css?family=Rubik+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">

			<div class="panel panel-default" style="margin-top: 10px;">
				<div class="panel-body">

					<!-- Resume Header and Contact-->
					<div class="row">
						
						<!-- Header -->
						<div class="col-xs-12 col-sm-8">
							<div class="header">
								<h1>Joshua Angeley</h1>
								<h4 class="lead">Software Engineer | VR Developer | Consultant</h4>
							</div>

              <!-- Professional Summary -->

              <!-- Objective / About Me -->
							<!-- <p class="lead">
								A Software Engineering Consultant and VR Developer impassioned to create fun and powerful experiences for people to enjoy! My goal is to create an impactful VR experience that changes the world.
							</p> -->
						</div>

						<!-- Contact Info, Education -->
						<div class="col-xs-12 col-sm-4">
							<ul class="fa-ul" style="margin-bottom: 1em">
								<li><i class="fa fa-home fa-fw"></i> Atlanta, GA</li>
								<li><i class="fa fa-phone fa-fw"></i> 404 333-9064</li>
								<li><i class="fa fa-envelope fa-fw"></i> willfire19@gmail.com</li>
								<li><i class="fa fa-github-alt fa-fw"></i> github.com/Willfire19</li>
                <li><i class="fab fa-linkedin"></i> linkedin.com/in/joshua-angeley</li>
							</ul>

							
						</div>

					</div>

					<hr class="print-break">

					<!-- Skills -->
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<p class="category-header">Professional Summary</p>
							<p>
								Impassioned and creative software engineer with over 7 years of experience. Leader in consumer facing application development, with skills utilizing web frameworks and 3D game engines. I’m a recognized expert in delivering immersive experiences, from building award winning language learning VR experiences, to leading a team of engineers in the build out of a Metaverse. I seek to bring my expertise to the right team to create innovative experiences!
							</p>
						</div>

						<div class="col-xs-12 col-sm-6">
							<p class="category-header"> Skills </p>
						
							<div class="col-xs-4 col-sm-4">
								<b>VR Dev</b>
								<ul class="fa-ul" style="margin-bottom: 1em">
									<li><i class="fab fa-unity fa-fw"></i> Unity</li>
									<li><i class="fas fa-file-code fa-fw"></i> C#</li>
									<li><i class="fa fa-steam fa-fw"></i> SteamVR</li>
									<li><i class="fab fa-facebook fa-fw"></i> Quest Development</li>
								</ul>
							</div>

							<div class="col-xs-4 col-sm-4">
								<b>Frontend</b>
								<ul class="fa-ul" style="margin-bottom: 1em">
									<li><i class="fab fa-angular fa-fw"></i> Angular</li>
									<li><i class="fab fa-vuejs fa-fw"></i> Vue</li>
									<li><i class="fa fa-html5 fa-fw"></i> HTML</li>
									<li><i class="fab fa-sass fa-fw"></i> CSS / SASS</li>
									<li><i class="fab fa-react fa-fw"></i> React</li>
								</ul>
							</div>

							<div class="col-xs-4 col-sm-4">
								<b>Backend</b>
								<ul class="fa-ul" style="margin-bottom: 1em">
									<li><i class="fab fa-microsoft fa-fw"></i> .NET</li>
									<li><i class="fab fa-java fa-fw"></i> Java</li>
									<li><i class="fab fa-node fa-fw"></i> NodeJS</li>
									<li><i class="fab fa-python fa-fw"></i> Python</li>
									<li><i class="fas fa-gem fa-fw"></i> Ruby on Rails</li>
								</ul>
							</div>
						</div>
					</div>

					<hr>

					<!-- Work Experience, Projects, Education, Skils, and Awards -->
					<div class="row">

						<div class="col-xs-12 col-sm-9">
							<!--Work Experience -->
							<p class="category-header"> Professional History </p>

							<p class="header"><b>Slalom Consulting <span class="work-date"><span class="work-city">Atlanta, GA</span>December 2016 - Present</span></b></p>
							<p><i>Software Consultant</i></p>
							<p class="content">
								I lead Slalom teams to build software solutions for clients in the Atlanta area. Partners include major home retailers, home construction companies, airlines, and cruise lines. Public examples include launching an online home purchasing website, and launching a weather information tool for airlines. Slalom projects are listed in the Selected Projects section.
							</p>

							<p class="header"><b>Circuit Therapeutics <span class="work-date"><span class="work-city">Menlo Park, CA</span>June 2015 - January 2017</span></b></p>
							<p><i>Software Consultant</i></p>
							<p class="content">
								Software development of a calculator for light transmission in brain tissue to be used for optogenetics. Translating engineering simulation results to web ready code to develop a web based application. Code work in Python and Javascript, version control in Git, operating in Linux and Windows environments.
							</p>

							<p class="header"><b>DMAnalytics <span class="work-date"><span class="work-city">Atlanta, GA</span>December 2015 - August 2016</span></b></p>
							<p><i>Software Engineer</i></p>
							<p class="content">
								Modified our Databases in SQL Server to provide user management flexibility to our customers. I built a system that could interact with both SQL Server and Active Directory through SQL Queries, Stored Procedures, and C#.
							</p>

							<p class="header"><b>CoshXLabs <span class="work-date"><span class="work-city">Charlottesville, VA</span>Summer 2013</span></b></p>
							<p><i>Software Engineering Intern</i> <b><span class="work-date">Summer 2014</span></b></p>
							<p class="content">
								Worked with small teams to build websites for clients using Ruby on Rails, JQuery, HTML, and CSS.<br>
								Assisted in maintaining and updating existing applications.<br>
								Contributed to development of client side and server side code.<br>
							</p>

						</div>

						<div class="col-xs-12 col-sm-3">
							<!-- Awards -->
							<div>

								<!-- Education -->
								<div>
									<p class="category-header" style="margin-bottom: 0"> Education </p>
									<p>
										University of Virginia<br>
										B.S. Computer Science, May 2015
									</p>
								</div>
								
								<p class="category-header"> Awards </p>

								<p class="header" style="margin-top: 5px;"><b>Oculus LaunchPad 2020</b></p>
								<p style="margin-bottom: 0"><i><b>$20k</b> Grant Recipient</i></p>
								<p><i>April 2021</i></p>
								<!-- <p class="content">
									Vernacular Katfe was one of 8 experiences that was selected by Oculus to receive a grant for its excellence in gameplay, polish, and care in cultural learning!
								</p> -->

								<p class="header" style="margin-top: 5px;"><b>DreamHack ATL</b></p>
								<p style="margin-bottom: 0"><i>Indie Nominee</i></p>
								<p><i>November 2019</i></p>
								<!-- <p class="content">
									My self-directed game AmaranTime Arena was selected to be presented at the Indie Showcase at DreamHack ATL. I was given a booth to show off my game to the attendees at the 3 Day conference for esports gaming!
								</p> -->

								<p class="header" style="margin-top: 5px;"><b>Hololens Hackathon</b></p>
								<p style="margin-bottom: 0"><i>1st Place Winner</i></p>
								<p><i>June 2017</i></p>
								<!-- <p class="content">
									Directed a team of 6 to build the first Paper football game for the Microsoft Hololens. In 24 hours, we built a game where you could place a football and a goal anywhere in the room, and then aim and hit the paper football through the goal. This project was used to demonstrate the Hololens spatial capabilities, along with proving our proficiency in rapid Merged Reality prototyping.
								</p> -->

								<p class="header" style="margin-top: 5px;"><b>PCArts</b></p>
								<p style="margin-bottom: 0"><i>2nd Place winner</i></p>
								<p><i>May 2014</i></p>
								<!-- <p class="content">
									Part of a team of UVA students that built an Android application for a local music non-profit organization. I was responsible for parsing json data into the android application.
								</p> -->

								<p class="header" style="margin-top: 15px;"><b>Richmond StartUp Weekend</b></p>
								<p style="margin-bottom: 0"><i>2nd Place winner</i></p>
								<p><i>July 2013</i></p>
								<!-- <p class="content">
									Competed against 15 other teams to come up with the best startup idea in 48 hours. We built a fully functional prototype website that allows companies to a/b test their own websites easily and at a low cost. My contribution included coding the server-side in Ruby on Rails.
								</p> -->
							</div>

						</div>

					</div>

					<hr>

					<!-- Career Highlights -->
					<div class="row">

						<div class="col-xs-12">
							<p class="category-header"> Career Highlights </p>
						</div>

						<div class="col-xs-12">
							<div class="highlight-container">
								<img class="highlight-image" alt="Cruis Ship Metaverse" src="https://www.marineinsight.com/wp-content/uploads/2019/08/Cruise-ships-1.png">
								<div class="highlight-content">
									<p class="header"><b>Metaverse Experience - Slalom Project <span class="work-date">January 2022 - January 2023</span></b></p>
									<div class="icon-list">
										<i class="fab fa-unity fa-fw"></i>
										<i class="fas fa-file-code fa-fw"></i>
									</div>
									<!-- <p class="content">
										Led a team of Unity Engineers to build out a digital twin of a cruise ship and build out a metaverse where players can explore the ship, chat with each other, and buy physical goods from the virtual storefront. I built out the initial prototype, integrating real-time user location data filtered through Kafka into a Unity application, and established best practices for the rest of the team. I was then charged with hiring the initial set of Unity Engineers, and then stepped up to Product Management to overlook a larger international team of 13 engineers. I organized deliverables and milestones, mentored engineers, and ran demonstrations of the app to our client.
									</p> -->
									<p class="content">
										Led a team of Unity Engineers to build out a digital twin of a cruise ship where players can explore the ship, chat with other players, and buy physical goods from the virtual storefront.
										<ul>
											<li>Built out the initial prototype, integrating real-time user location data filtered through Kafka into a Unity application</li>
											<li>Stepped up to Product Management to overlook a larger international team totaling 13 engineers</li>
											<li>Mentored engineers, rrganized deliverables, and ran demos to our client</li>
										</ul>
									</p>
								</div>
							</div>
							<br>
						</div>

						<div class="col-xs-12">
							<div class="highlight-container">
								<img class="highlight-image" alt="Vernacular-Katfe" src="../images/KATFE_herocover.jpg">
								<div class="highlight-content">
									<p class="header"><b>Vernacular - Katfe <span class="work-date">November 2020 - January 2022</span></b></p>
									<div class="icon-list">
										<i class="fab fa-unity fa-fw"></i>
										<i class="fas fa-file-code fa-fw"></i>
										<i class="fab fa-facebook fa-fw"></i>
									</div>
									<p class="content">
										Developed a Grant winning Meta Quest experience that allows a user to practice foreign languages by immersing them in a cafe where they use their voice to order a drink in japanese.<span class="no-resume"> A trailer of our experience can be viewed <a href="https://vimeo.com/644984219/031d6d3a12" target="_blank">here</a></span>
										<ul>
											<li>Led and mentored engineers to collaborate in Unity with Git</li>
											<li>Implemented Google Cloud Speech to Text and Meta WitAI packages to integrate speech recognition into the app</li>
											<li>Built and deployed a PC VR experience and Meta Quest experience</li>
										</ul>
									</p>
								</div>
							</div>
						</div>

						<div class="col-xs-12" style="margin-top: 20px;">
							<div class="highlight-container">
								<img class="highlight-image" alt="AmaranTime-Arena" src="../images/Banner2.png">
								<div class="highlight-content">
									<p class="header"><b>AmaranTime Arena <span class="work-date">September 2016 - Present</span></b></p>
									<div class="icon-list">
										<i class="fab fa-unity fa-fw"></i>
										<i class="fas fa-file-code fa-fw"></i> 
										<i class="fa fa-steam fa-fw"></i>
										<i class="fab fa-facebook fa-fw"></i>
									</div>
									<p class="content">
										Self-produced an Early Access VR Arcade Shooter that pushes the player to use their body, arsenal, and mastery over time to decimate the robot army onslaught.<span class="no-resume"> An early look at the game can be viewed <a href="https://www.youtube.com/watch?v=XPVXEKBisHU" target="_blank">here</a></span>
										<ul>
											<li>Built the game in Unity</li>
											<li>Programmed all game mechanics, including but not limited to: 3 movement mechanics, 3 different weapons, diegetic UI displays, time slowdown, and motion contols</li>
											<li>Available on Steam for PCVR, Meta Quest version coming soon</li>
										</ul>
									</p>
								</div>
							</div>
						</div>

					</div>

					<hr>

					

				</div>
			</div>


		</div>
	</body>
</html>